In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("candlestick_chart.csv")

In [61]:
df.head(21)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,LastPrice_imputed,Year
0,HDFCBANK,EQ,15-06,1151.85,1155.00,1170.90,1153.20,1168.00,1169.55,1162.38,761456,8.851028e+08,18995,473129,62.13,False,2016
1,HDFCBANK,EQ,16-06,1169.55,1166.55,1168.85,1155.35,1160.75,1162.15,1162.80,1181942,1.374367e+09,29029,735044,62.19,False,2016
2,HDFCBANK,EQ,17-06,1162.15,1167.00,1178.00,1165.55,1171.10,1170.00,1172.49,940413,1.102624e+09,16726,560769,59.63,False,2016
3,HDFCBANK,EQ,20-06,1170.00,1159.00,1179.25,1158.80,1170.00,1172.05,1172.16,685691,8.037416e+08,21802,357602,52.15,False,2016
4,HDFCBANK,EQ,21-06,1172.05,1175.00,1175.45,1161.20,1164.30,1166.65,1166.05,667742,7.786190e+08,12721,356707,53.42,False,2016
5,HDFCBANK,EQ,22-06,1166.65,1166.00,1175.00,1166.00,1169.10,1171.50,1171.63,950960,1.114177e+09,31558,634707,66.74,False,2016
6,HDFCBANK,EQ,23-06,1171.50,1169.80,1191.85,1167.50,1191.50,1190.10,1184.36,981683,1.162668e+09,18772,577439,58.82,False,2016
7,HDFCBANK,EQ,24-06,1190.10,1159.85,1171.90,1147.00,1161.00,1161.90,1154.94,2793491,3.226301e+09,53496,1700254,60.86,False,2016
8,HDFCBANK,EQ,27-06,1161.90,1162.00,1169.00,1153.05,1160.00,1159.95,1162.11,1040947,1.209694e+09,26122,618389,59.41,False,2016
9,HDFCBANK,EQ,28-06,1159.95,1161.25,1173.10,1150.00,1169.30,1166.95,1168.27,1008745,1.178483e+09,28328,561927,55.71,False,2016
10,HDFCBANK,EQ,29-06,1166.95,1165.00,1169.50,1159.70,1168.00,1168.30,1165.87,1355167,1.579948e+09,39547,947929,69.95,False,2016
11,HDFCBANK,EQ,30-06,1168.30,1171.00,1180.00,1162.15,1173.60,1176.45,1172.00,4069723,4.769717e+09,52900,3251396,79.89,False,2016
12,HDFCBANK,IL,30-06,1377.10,1361.50,1366.50,1361.50,1364.85,1364.85,1364.83,186000,2.538590e+08,3,186000,100.00,True,2016
13,HDFCBANK,EQ,01-07,1176.45,1180.00,1185.00,1171.80,1174.95,1174.50,1180.29,1076219,1.270256e+09,34548,656180,60.97,False,2016
14,HDFCBANK,EQ,04-07,1174.50,1178.20,1179.50,1171.40,1173.85,1172.80,1175.22,1812463,2.130051e+09,37185,1408369,77.70,False,2016
15,HDFCBANK,EQ,05-07,1172.80,1172.80,1174.30,1162.00,1168.75,1165.60,1165.93,534082,6.227032e+08,20065,284398,53.25,False,2016
16,HDFCBANK,IL,05-07,1364.85,1368.00,1368.00,1368.00,1368.00,1368.00,1368.00,621100,8.496648e+08,38,621100,100.00,True,2016
17,HDFCBANK,EQ,07-07,1165.60,1167.90,1188.75,1160.90,1184.70,1185.65,1179.86,1208154,1.425449e+09,15087,778136,64.41,False,2016
18,HDFCBANK,EQ,08-07,1185.65,1185.10,1185.60,1171.25,1175.40,1174.85,1174.80,779717,9.160142e+08,14452,515839,66.16,False,2016
19,HDFCBANK,IL,08-07,1368.00,1385.00,1385.00,1385.00,1385.00,1385.00,1385.00,783010,1.084469e+09,21,783010,100.00,True,2016
20,HDFCBANK,EQ,11-07,1174.85,1186.00,1201.90,1181.05,1201.00,1199.75,1196.78,1275633,1.526657e+09,24406,788527,61.81,False,2016

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  660 non-null    category
 1   Series                  660 non-null    category
 2   Date                    660 non-null    datetime64[ns]
 3   Prev Close              660 non-null    float64
 4   Open Price              660 non-null    float64
 5   High Price              660 non-null    float64
 6   Low Price               660 non-null    float64
 7   Last Price              660 non-null    float64
 8   Close Price             660 non-null    float64
 9   Average Price           660 non-null    float64
 10  Total Traded Quantity   660 non-null    int64
 11  Turnover                660 non-null    float64
 12  No. of Trades           660 non-null    int64
 13  Deliverable Qty         660 non-null    int64
 14  % Dly Qt to Traded Qty  660 non-null    float64
 15  LastPrice_imputed       660 non-null    bool
 16  Zear                    660 non-null    int32
 17  Year                    660 non-null    int32
dtypes: bool(1), category(2), datetime64[ns](1), float64(9), int32(2), int64(3)
memory usage: 74.5 KB

In [9]:
df["Date"]=pd.to_datetime(df["Date"])

In [15]:
df["Last Price"].head()

0           1168.00
1           1160.75
2           1171.10
3           1170.00
4           1164.30
Name: Last Price, dtype: object

In [17]:
df["Last Price"] =pd.to_numeric(df["Last Price"], errors="coerce")

In [19]:
df["Last Price"].isna().sum()

163

In [23]:
df["Last Price"].unique()[:20]

array([1168.  , 1160.75, 1171.1 , 1170.  , 1164.3 , 1169.1 , 1191.5 ,
       1161.  , 1160.  , 1169.3 , 1173.6 ,     nan, 1174.95, 1173.85,
       1168.75, 1184.7 , 1175.4 , 1201.  , 1202.  , 1198.1 ])

In [27]:
df["LastPrice_imputed"] = df["Last Price"].isna()

In [31]:
df["Last Price"] = df["Last Price"].fillna(df["Close Price"])

In [37]:
df["Last Price"].isna().sum()

0

In [39]:
df["Symbol"] = df["Symbol"].astype("category")

In [41]:
df["Series"] = df["Series"].astype("category")

In [49]:
df["Year"] = df["Date"].dt.year

In [55]:
df=df.drop(columns=["Zear"])

In [59]:
df["Date"] = df["Date"].dt.strftime("%d-%m")

In [63]:
df[["Date", "Year"]].head()

    Date  Year
0  15-06  2016
1  16-06  2016
2  17-06  2016
3  20-06  2016
4  21-06  2016

In [65]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,6.600000e+02,6.600000e+02,660.000000,6.600000e+02,660.000000,660.000000
mean,1616.246439,1617.817121,1627.271591,1608.963485,1618.744242,1618.869242,1618.423379,1.401999e+06,2.245704e+09,26607.675758,8.778801e+05,67.199667,2016.996970
std,283.566875,283.723665,284.928209,282.773542,283.462269,283.645958,283.700121,4.105919e+06,6.054152e+09,31920.844335,2.717941e+06,20.229226,0.690268
min,1151.850000,1155.000000,1168.850000,1147.000000,1160.000000,1159.950000,1154.940000,1.000000e+00,1.825000e+03,1.000000,0.000000e+00,0.000000,2016.000000
25%,1305.137500,1305.962500,1314.750000,1298.937500,1306.987500,1305.687500,1306.112500,6.663982e+05,9.584361e+08,6203.250000,3.552032e+05,54.372500,2017.000000
50%,1679.300000,1681.275000,1692.600000,1671.000000,1681.075000,1680.825000,1681.780000,1.027343e+06,1.613424e+09,24210.500000,6.226055e+05,63.425000,2017.000000
75%,1857.212500,1858.137500,1867.900000,1848.500000,1858.612500,1857.612500,1858.942500,1.479385e+06,2.416912e+09,35137.000000,9.289120e+05,75.122500,2017.000000
max,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,1.005650e+08,1.426400e+11,547304.000000,6.669683e+07,100.000000,2018.000000

In [69]:
df.to_csv("candlestick_chart_2.csv")